{% load static %}
<h3 ><a href = "{% url 'index' %}">Volver al inicio</a></h3>
<head>
  <link rel="stylesheet" href="{% static 'swinfo/css/swinfo.css' %}">
<h1>{{ planet.name }}</h1>
</head>

<!-- <form action="/search/" method="get">
        <input type="text" name="q">
        <input type="submit" value="Buscar">
</form> -->

<table style="width:100%">
 <tr>
   <th>Nombre</th>
   <th>Periodo rotacional</th>
   <th>Periodo orbital</th>
   <th>Diámetro</th>
   <th>Clima</th>
   <th>Gravedad</th>
   <th>Terreno</th>
   <th>Superficie de agua</th>
   <th>Población</th>
 </tr>


  <tr>
    <td>{{ planet.name }}</td>
    <td>{{ planet.rotationPeriod }}</td>
    <td>{{ planet.orbitalPeriod }}</td>
    <td>{{ planet.diameter }}</td>
    <td>{% for climate in planet.climates %}
         {{climate}}
         -
    {%endfor%}
    </td>
    <td>{{ planet.gravity }}</td>
    <td>{% for terrain in planet.terrains %}
         {{terrain}}
         -
    {%endfor%}
    </td>
    <td>{{ planet.surfaceWater }}</td>
    <td>{{ planet.population }}</td>

  </tr>
</table>
{% if films %}
<h2>Películas en las que aparece:</h2>
<table style="width:20%",>
{% for key, value in films.items %}

 <tr>
   <td class="click"><a href = "{% url 'detail' value %}">{{ key }}</a></td>
 </tr>
{%endfor%}
</table>
{%endif%}

{% if residents %}
  <h2>Residentes:</h2>
  <table style="width:20%",>
  {% for key, value in residents.items %}

   <tr>
     <td class="click"><a href = "{% url 'character_detail' value %}">{{key}}</a></td>
   </tr>
  {%endfor%}
  </table>
{% endif %}
